<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Department List</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">

              <dx-tree-list
                #dataGrid
                [dataSource]="dataSource"
                keyExpr="id"
                parentIdExpr="parent.id"
                remoteOperations="true"
                [columnAutoWidth]="true"
                [wordWrapEnabled]="true"
                [showBorders]="true"
                (onInitNewRow)="initNewRow($event)">
                <dxo-paging [enabled]="true"></dxo-paging>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-editing
                  mode="batch"
                  [allowAdding]="true"
                  [allowUpdating]="true"
                  [allowDeleting]="true">
                </dxo-editing>

                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-search-panel [visible]="true"></dxo-search-panel>

                <dxi-column dataField="name" [minWidth]="250">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="code" [minWidth]="120">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="level" [minWidth]="120"></dxi-column>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager
                  [showPageSizeSelector]="true"
                  [allowedPageSizes]="[5,10, 20, 50, 100]"
                  [showInfo]="true">
                </dxo-pager>
              </dx-tree-list>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

