<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0px;">

          <div class="card-body" style="min-height: calc(10vh - 193px);">
            <div class="row">
              <div class="filter-container">
                <img class="basket"  ngSrc="assets/images/food/basket.png" height="80"
                     width="100" alt=""/>

                <div class="dx-fieldset">
                  <div class="dx-field">
                    <div class="dx-field-label">
                      <button type="button" class="btn btn-outline-primary">Sepetim</button>
                    </div>
                  </div>
                  <div class="dx-field">
                    <div class="dx-field-label">Toplam Tutar</div>
                    <div class="dx-field-value-static">{{totalPrice + ' TL'}}</div>
                  </div>
                </div>

              </div>

              <div class="list-container">
                <dx-list [dataSource]="dataSource">
                  <div *dxTemplate="let item of 'item'">
                    <div class="product">
                      <img src="{{ item.Image }}" alt=""/>
                      <div>{{ item.Name }}</div>
                      <div class="price">{{ item.Price + ' TL'}}</div>
                    </div>
                  </div>
                </dx-list>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


