<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0px;">

          <div class="card-body" style="min-height: calc(50vh - 193px);">
            <div class="row">
              <div class="filter-container">
                <img class="basket" ngSrc="assets/images/food/poder.jpg" height="100" width="110" alt="" />

                <div class="dx-fieldset">
                  <div class="dx-field">
                    <div class="dx-field-label">
                      <button type="button" class="btn btn-outline-primary" (click)="paymentBasket()">Ödeme
                      </button>
                    </div>
                  </div>
                  <div class="dx-field">
                    <div class="dx-field-label" style="font-size: large;">Toplam Tutar</div>
                    <div class="dx-field-value-static" style="font-weight: bold;font-size: large;">{{totalPrice + '
                      ₺'}}</div>
                  </div>
                </div>
              </div>

              <div class="list-container">
                <dx-data-grid #orderDataGrid [dataSource]="dataSource" keyExpr="ID" [showBorders]="true">
                  <dxo-editing mode="form" [allowDeleting]="false" [useIcons]="true">
                  </dxo-editing>
                  <dxi-column dataField="image" [width]="130" [allowFiltering]="false" [allowSorting]="false"
                    cellTemplate="cellTemplate"></dxi-column>
                  <dxi-column dataField="food.foodName" caption="Food"></dxi-column>
                  <dxi-column dataField="status" caption="Status"></dxi-column>
                  <dxi-column dataField="orderDate" type="datetime" caption="Date"></dxi-column>
                  <dxi-column dataField="price" width="100" format="#,###.## ₺"></dxi-column>

                  <div *dxTemplate="let data of 'cellTemplate'">
                    <img *ngIf="data.value===null" class="images_basket" src="assets/images/food/poder.jpg" alt="" />
                    <img *ngIf="data.value" class="images_basket" [src]="data.value" alt="" />
                  </div>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>