<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="DEV_HOME" value="/var/log"/>
    <conversionRule conversionWord="highlightex" converterClass="com.food.log.CustomHighlighting"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <param name="encoding" value="UTF-8"/>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern class="org.">
                %d{yyyy-MM-dd HH:mm:ss} %highlightex([%level]) %cyan(%logger{50}) - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/log-life.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/archived/log-life.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.app" level="debug" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <root level="info">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>

</configuration>
