<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Profile Settings</h4>
          </div>
          <div class="card-body" style="min-height: calc(50vh - 193px);">
            <div class="row">

              <form id="form" #form enctype="multipart/form-data">
                <div class="dx-fieldset">
                  <div class="dx-field">
                    <div class="dx-field-label">User ID:</div>
                    <dx-text-box
                      class="dx-field-value"
                      name="userId"
                      [inputAttr]="{ 'aria-label': 'User ID' }"
                      value="c318bb34-ea76-41f2-92b3-f074ae060b45"
                    ></dx-text-box>
                  </div>
                  <div class="dx-field">
                    <div class="dx-field-label">First Name:</div>
                    <dx-text-box
                      class="dx-field-value"
                      name="FirstName"
                      [inputAttr]="{ 'aria-label': 'First Name' }"
                      value="Savaş"
                    ></dx-text-box>
                  </div>
                  <div class="dx-field">
                    <div class="dx-field-label">Last Name:</div>
                    <dx-text-box
                      class="dx-field-value"
                      name="LastName"
                      [inputAttr]="{ 'aria-label': 'Last Name' }"
                      value="Dede"
                    ></dx-text-box>
                  </div>
                </div>
                <div id="fileuploader-container">
                  <dx-file-uploader
                    selectButtonText="Select photo"
                    labelText=""
                    accept="image/*"
                    uploadMode="useForm">
                  </dx-file-uploader>
                </div>
                <button id="button" type="button" class="btn btn-outline-primary" (click)="updateClick()">Save
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
