<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Profile Settings</h4>
          </div>
          <div class="card-body" style="min-height: calc(60vh - 193px);">
            <div class="row">

              <dx-form id="form" [formData]="userData"
                       labelMode="floating" [colCount]="2">
                <dxi-item dataField="userId" [colSpan]="2">
                  <dxo-label text="User Id"></dxo-label>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="firstName" [colSpan]="2">
                  <dxo-label text="First Name"></dxo-label>
                </dxi-item>
                <dxi-item dataField="lastName" [colSpan]="2">
                  <dxo-label text="Last Name"></dxo-label>
                </dxi-item>

                <dxi-item dataField="fileData" caption="Image">
                  <!--<img id="imgElement" [src]="this.userData.fileData" class="tableImage" alt=""/>-->

                  <dx-file-uploader [multiple]="false"
                                    name="photo"
                                    accept="image/*"
                                    uploadMode="instantly"
                                    [allowedFileExtensions]="['.jpg', '.jpeg', '.png']"
                                    (onValueChanged)="onValueChanged($event)">
                  </dx-file-uploader>
                </dxi-item>

                <dxi-item [colSpan]="2">
                  <button id="button" type="button" class="btn btn-outline-primary" (click)="updateClick()">Save
                  </button>
                </dxi-item>
              </dx-form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
