<dx-data-grid #dataGrid
              [dataSource]="dataSource"
              [allowColumnReordering]="true"
              [showBorders]="true"
              (onRowInserting)="logEvent('RowInserting')"
              (onRowInserted)="logEvent('RowInserted')"
              (onRowRemoving)="logEvent('RowRemoving')"
              (onRowRemoved)="logEvent('RowRemoved')"
              (onSaving)="logEvent('Saving')"
              (onSaved)="logEvent('Saved')"
              (onEditCanceling)="logEvent('EditCanceling')"
              (onEditCanceled)="logEvent('EditCanceled')">

  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing
    mode="row"
    [allowUpdating]="false"
    [allowDeleting]="true"
    [allowAdding]="true"
    [useIcons]="true">
  </dxo-editing>

  <dxo-toolbar>
    <dxi-item name="addRowButton"></dxi-item>
    <dxi-item location="after">
      <dx-button icon="refresh" (onClick)="refreshDataGrid($event)">
      </dx-button>
    </dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="filename"></dxi-column>
  <dxi-column dataField="size"></dxi-column>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5,10, 20, 50, 100]"
    [showInfo]="true">
  </dxo-pager>


</dx-data-grid>
