<!--<div class="left">-->
<!--  <dx-list-->
<!--    class="list"-->
<!--    [dataSource]="dataSource"-->
<!--    [grouped]="false"-->
<!--    [searchEnabled]="true"-->
<!--    selectionMode="single"-->
<!--    [selectedItemKeys]="[currentFood.ID]"-->
<!--    (onSelectionChanged)="selectionChanged($event)">-->
<!--    <div *dxTemplate="let item of 'item'">-->
<!--      <div>-->
<!--        <div class="hotel">-->
<!--          <div class="name">{{ item.Name }}</div>-->
<!--          <div class="type" [ngClass]="item.Class.toLowerCase()"></div>-->
<!--        </div>-->
<!--        <div class="price-container">-->
<!--          <div class="price">{{item.Price}}</div>-->
<!--          <div class="caption">TL</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *dxTemplate="let item of 'group'">-->
<!--      <div class="city">{{ item.key }}</div>-->
<!--    </div>-->
<!--  </dx-list>-->
<!--</div>-->
<!--<div class="right">-->
<!--  <div class="header">-->
<!--    <div class="name-container">-->
<!--      <div class="name">{{ currentFood.Name }}</div>-->
<!--      <div class="type" [ngClass]="currentFood.Class.toLowerCase()"></div>-->
<!--    </div>-->
<!--    <div class="price-container">-->
<!--      <div class="price">{{currentFood.Price | currency : "USD" : "symbol" : "1.0-0"}}</div>-->
<!--      <div class="caption">TL</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <dx-tile-view-->
<!--    class="tile"-->
<!--    [dataSource]="currentFood.Images"-->
<!--    noDataText=""-->
<!--    [height]="300"-->
<!--    [width]="800"-->
<!--    [baseItemHeight]="250"-->
<!--    [baseItemWidth]="260"-->
<!--    [itemMargin]="12">-->
<!--    <div *dxTemplate="let item of 'item'">-->
<!--      <img-->
<!--        class="tile-image"-->
<!--        alt="Test"-->
<!--        src="{{ item.Picture }}"-->
<!--      />-->
<!--    </div>-->
<!--  </dx-tile-view>-->
<!--  <div class="description">{{ currentFood.Notes }}</div>-->
<!--</div>-->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0px;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Orders</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">

              <dx-data-grid
                id="gridContainer"
                [dataSource]="dataSource"
                keyExpr="ID"
                [showBorders]="true">
                <dxi-column
                  dataField="image"
                  [width]="300"
                  [allowFiltering]="false"
                  [allowSorting]="false"
                  cellTemplate="cellTemplate"
                ></dxi-column>
                <dxo-search-panel
                  [visible]="true"
                  [width]="400"
                  placeholder="Search..."
                ></dxo-search-panel>

                <dxi-column dataField="foodName"></dxi-column>
                <dxi-column dataField="classType" caption="Class" cellTemplate="classTemplate"></dxi-column>
                <dxi-column dataField="description" caption="Notes"></dxi-column>
                <dxi-column dataField="price" width="100"  format="# TL"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                  <img [src]="data.value" alt=""/>
                </div>

                <div *dxTemplate="let data of 'classTemplate'">
                  <div class="type" [ngClass]="data.value.toLowerCase()"></div>
                </div>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager
                  [visible]="true"
                  [allowedPageSizes]="[5, 10, 'all']"
                  displayMode="full"
                  [showPageSizeSelector]="true"
                  [showInfo]="true"
                  [showNavigationButtons]="true">
                </dxo-pager>
              </dx-data-grid>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
