::ng-deep .left {
  float: left;
  width: 35%;
  height: 100%;
  padding: 20px;
  background: rgba(191, 191, 191, 0.15);
  margin-right: 30px;
}

::ng-deep .right {
  overflow: hidden;
}

::ng-deep .left .list .dx-list-group-header {
  color: #f05b41;
  font-weight: normal;
  font-size: 18px;
}

::ng-deep .left .list .hotel {
  float: left;
}

::ng-deep .left .list .hotel .name {
  font-weight: bold;
}

::ng-deep .right .header {
  height: 70px;
}

::ng-deep .right .header .name-container {
  float: left;
}

::ng-deep .right .header .name {
  font-size: 30px;
  font-weight: bold;
}

::ng-deep .right .header .price-container {
  padding-top: 27px;
}

::ng-deep .right .name-container .type {
  margin-top: 0;
}

::ng-deep .right .tile {
  margin: 0 -12px 0 -12px;
}

::ng-deep .right .tile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

::ng-deep .right .description {
  margin: 10px 0;
}

::ng-deep .type {
  margin: 3px 0 5px 0;
  height: 14px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218px%22%20height%3D%2214px%22%20%3E%3Cpolyline%20fill%3D%22%23F05B41%22%20points%3D%227.5%2C0%209.972%2C4.399%2014.999%2C5.348%2011.5%2C9.015%2012.135%2C14%207.5%2C11.866%202.865%2C14%203.5%2C9.015%200.001%2C5.348%205.028%2C4.399%207.5%2C0%20%22%2F%3E%3C%2Fsvg%3E');
  background-size: 18px 14px;
}

::ng-deep .type.gold {
  width: 54px;
}

::ng-deep .type.platinum {
  width: 72px;
}

::ng-deep .type.diamond {
  width: 90px;
}

::ng-deep .price-container {
  float: right;
  padding-top: 13px;
}

::ng-deep .price-container > div {
  display: inline-block;
}

::ng-deep .price-container .price {
  font-size: 25px;
}

::ng-deep .price-container .caption {
  font-size: 11px;
  line-height: 12px;
  padding-left: 2px;
  opacity: 0.7;
}


::ng-deep #gridContainer {
  height: 100%;
  width: 100%;
}

.images {
  height: 10rem;
  width: 10rem;
  display: block;
  padding: 3px;
  margin-left: 2rem;
  transition: transform .2s;
}

.images:hover {
  transform: scale(1.5);
}

.images_basket {
  height: 3rem;
  width: 3rem;
  display: block;
}


//Basket
::ng-deep .filter-container {
  width: 65%;
  float: right;
  margin-bottom: 25px;
  height: 210px;
}

::ng-deep .dx-filterbuilder .dx-texteditor {
  width: 135px;
}

::ng-deep .list-container {
  //background-color: rgba(191, 191, 191, 0.15);
  float: right;
  width: 35%;
}

::ng-deep .list-container .dx-scrollable-container {
  max-height: 200px;
  padding-left: 30px;
}

::ng-deep .product {
  height: 65px;
}

::ng-deep .product > img {
  height: 100%;
  float: left;
}

::ng-deep .product > div {
  padding-left: 10px;
  vertical-align: top;
  line-height: 65px;
  font-size: 15px;
  float: left;
}

::ng-deep .product > div.price {
  float: right;
  text-align: center;
  font-size: 18px;
}

::ng-deep .product > div.trash {
  float: right;
  font-size: 18px;
  color: #e74f83;
}

::ng-deep .dx-filterbuilder .dx-numberbox {
  width: 80px;
}

.basket-icon {
  font-size: 1.4rem;
  display: block;
  cursor: pointer;
  color: #bd76d5;
  transition: transform .2s;
}

