<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0px;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Stock List</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">
              <dx-data-grid #foodDataGrid
                            [dataSource]="dataSource"
                            [showBorders]="true">
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing
                  mode="popup"
                  [allowUpdating]="true"
                  [allowAdding]="true"
                  [allowDeleting]="true"
                  [useIcons]="true">
                  <dxo-popup
                    title="Employee Info"
                    [showTitle]="true"
                    [width]="700"
                    [height]="525">
                  </dxo-popup>
                  <dxo-form>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                      <dxi-item dataField="foodName"></dxi-item>
                      <dxi-item dataField="description"></dxi-item>
                    </dxi-item>
                  </dxo-form>
                </dxo-editing>

                <dxi-column dataField="foodName"></dxi-column>
                <dxi-column dataField="category.name"></dxi-column>
                <dxi-column dataField="description" dataType="string"></dxi-column>
              </dx-data-grid>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
