<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Food List</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">
              <dx-data-grid #foodDataGrid [dataSource]="dataSource" keyExpr="ID" [allowColumnReordering]="true"
                (onEditorPreparing)="onEditorPreparing($event)" [showBorders]="true">
                <dxo-editing mode="form" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                  [useIcons]="true">
                  <dxo-popup title="Food Info" [showTitle]="true" width="50%" height="70%">
                  </dxo-popup>
                  <dxo-form>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                      <dxi-item dataField="restaurant.id"></dxi-item>
                      <dxi-item dataField="category.id"></dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                      <dxi-item dataField="foodName"></dxi-item>
                      <dxi-item dataField="price"></dxi-item>
                      <dxi-item dataField="description"></dxi-item>
                      <dxi-item dataField="classType"></dxi-item>
                    </dxi-item>

                    <dxi-item itemType="tabbed" [colSpan]="2" [colCount]="2">
                      <dxi-tab id="id1" title="Images">
                        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
                          <div *dxTemplate="let item of 'detail'" class="content" style="background-color: white">
                            <app-images *ngIf="foodData" [foodData]="foodData"></app-images>
                          </div>
                        </dxi-item>
                      </dxi-tab>
                    </dxi-item>
                  </dxo-form>
                </dxo-editing>

                <dxo-toolbar>
                  <dxi-item name="addRowButton"></dxi-item>
                  <dxi-item location="after">
                    <dx-button icon="refresh" (onClick)="refreshDataGrid($event)">
                    </dx-button>
                  </dxi-item>
                </dxo-toolbar>

                <dxi-column dataField="restaurant.id" caption="restaurant">
                  <dxo-lookup [dataSource]="restaurantDataSource" displayExpr="name" valueExpr="id">
                  </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="foodName">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="category.id" caption="Category">
                  <dxo-lookup [dataSource]="categoryDataSource" displayExpr="name" valueExpr="id">
                  </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="price" dataType="number">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="classType" caption="Class" [width]="200">
                  <dxo-lookup [dataSource]="classTypeSource" displayExpr="name" valueExpr="name">
                  </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="description" dataType="string"></dxi-column>

                <dxo-filter-row [visible]="true">
                </dxo-filter-row>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
                  [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
                  [showNavigationButtons]="showNavButtons">
                </dxo-pager>
              </dx-data-grid>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>