<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Restaurant List</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">
              <dx-data-grid #dataGrid [dataSource]="dataSource" keyExpr="ID" [allowColumnReordering]="true"
                [showBorders]="true">
                <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                  [useIcons]="true">
                  <dxo-popup title="Restaurant Info" [showTitle]="true" width="75%" height="80%">
                  </dxo-popup>
                  <dxo-form>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                      <dxi-item dataField="name"></dxi-item>
                      <dxi-item dataField="puan"></dxi-item>
                    </dxi-item>

                    <dxi-item itemType="tabbed" [colSpan]="2" [colCount]="2">
                      <dxi-tab id="id1" title="Map">
                        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
                          <dxi-item dataField="geom" [label]="{visible: false}"></dxi-item>
                        </dxi-item>
                      </dxi-tab>
                    </dxi-item>
                  </dxo-form>
                </dxo-editing>

                <dxo-toolbar>
                  <dxi-item name="addRowButton"></dxi-item>
                  <dxi-item location="after">
                    <dx-button icon="refresh" (onClick)="refreshDataGrid($event)">
                    </dx-button>
                  </dxi-item>
                </dxo-toolbar>

                <dxi-column dataField="name">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="puan" dataType="number"> </dxi-column>
                <dxi-column dataField="geom" [visible]="false" editCellTemplate="geom">
                </dxi-column>
                <div *dxTemplate="let geom of 'geom'">
                  <app-restaurant-map [mapData]="geom.data"
                    (onHidingMap)="onValueMapChanged($event, geom)"></app-restaurant-map>
                </div>

                <dxo-filter-row [visible]="true">
                </dxo-filter-row>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10, 20, 50, 100]" [showInfo]="true">
                </dxo-pager>
              </dx-data-grid>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>